body {
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .interactive-section {
    display: flex;
    background-color: black;
    color: white;
  }
  
  .links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .links a.active {
    font-weight: bold;
  }
  
  .video-player {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 100px;
    position: relative;
  }
  
  /* Ограничим максимальные размеры плеера и выровняем его по центру */
  iframe {
    max-width: 500px; /* Максимальная ширина плеера */
    max-height: 281px; /* Максимальная высота плеера */
    width: 100%; /* Ширина 100% от доступного пространства */
    height: 300px; /* Автоматическая высота, чтобы сохранить соотношение сторон */
    margin: 10px; /* Добавим отступы по 30px со всех сторон */
  }
  
  .video-player::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.6);
    pointer-events: none;
  }
  
  .video-description {
    text-align: center;
    margin-top: 20px;
  }
  